let mapleader=' '

set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
" set relativenumber
set scrolloff=3
set history=100000

" clear the highlighted search result
nnoremap <silent> <cr> :noh<cr><cr>


" Integrate with system clipboard
" set clipboard=unnamedplus,unnamed
" set clipboard+=ideaput

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-k> <c-w>k
nmap <c-j> <c-w>j

nnoremap <silent> H gT
nnoremap <silent> L gt
nnoremap <expr> <f2> &foldlevel ? 'zM' :'zR'

map <leader>f :action GotoFile<cr>
map <leader>c :action GotoClass<cr>
map <leader>s :action GotoSymbol<cr>
map <leader>a :action GotoAction<cr>
